<div class="container">
  <h4>POST - Dodawanie postów</h4>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="addPost()">Dodaj posta</button>
  </div>

  <div *ngIf="addedPost" class="card" style="margin-top: 30px;">
    <div class="card-header">
      Dodany post
    </div>
    <div class="card-body">
      <h5 class="card-title">Json</h5>
      <p class="card-text">{{ addedPost | json }}</p>
    </div>
  </div>

</div>
