<div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="products">Products</a>
    </li>
    <li *ngIf="!authService.user" class="nav-item">
      <a class="nav-link" href="auth">Login</a>
    </li>
    <li *ngIf="authService.user" class="nav-item">
      <a class="nav-link" href="#" (click)="logout()">Logout</a>
    </li>
    <li *ngIf="authService.user" class="nav-item" style="padding: 8px;">
      <small style="color: gray;">{{ authService.user.email }}</small>
    </li>
  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
